.content-region h1.page-header.title {
  color: #A00000;
  font-family: "Yanone Kaffeesatz";
  font-weight: 700; }

.content-region .submitted, .content-region .commerce-product-title {
  display: none; }

.content-region .field-name-field-main-image {
  float: left;
  max-width: 315px;
  position: relative;
  z-index: 10; }

.content-region .field-name-field-additional-images {
  float: left;
  clear: both;
  max-width: 315px;
  position: relative;
  z-index: 10; }
  .content-region .field-name-field-additional-images .field-item {
    float: left;
    margin-left: 10px; }

.content-region .commerce-product-sku-label {
  font-weight: normal; }

.content-region .field-name-field-long-description {
  padding-bottom: 20px;
  position: relative; }

.content-region .product-top-area {
  position: relative;
  padding-bottom: 20px;
  float: left;
  margin-bottom: 20px; }

.content-region .product-top-area:after {
  position: absolute;
  content: ' ';
  border-bottom: 1px solid darkgrey;
  width: 90%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.content-region .product-details-container {
  float: left;
  width: 100%; }
  .content-region .product-details-container .product-details-left {
    width: 60%;
    float: left; }
  .content-region .product-details-container .product-details-right {
    float: left;
    width: 33%;
    border: 2px solid #dddddd;
    background: #f7f7f7;
    padding: 15px;
    text-align: center; }
    .content-region .product-details-container .product-details-right .form-type-textfield label {
      float: left;
      padding-right: 15px;
      position: relative;
      top: 6px;
      margin-left: 20px; }
    .content-region .product-details-container .product-details-right .form-type-textfield input {
      width: 35%;
      float: left;
      margin-bottom: 10px;
      text-align: center; }
    .content-region .product-details-container .product-details-right .commerce-add-to-cart > div {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100%; }
    .content-region .product-details-container .product-details-right .field-name-commerce-price {
      float: left;
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
      .content-region .product-details-container .product-details-right .field-name-commerce-price .field-label {
        position: relative;
        top: 14px; }
      .content-region .product-details-container .product-details-right .field-name-commerce-price .field-item {
        font-family: 'Yanone Kaffeesatz';
        color: #A00000;
        font-size: 30px;
        font-weight: 700; }
    .content-region .product-details-container .product-details-right .field-name-field-product-reference {
      clear: both;
      float: left;
      min-width: 84%;
      position: relative;
      left: 50%;
      transform: translateX(-50%); }

.view-faucet-search-product-display .views-row {
  width: 50%;
  float: left; }

.page-product-search #contentArea {
  display: none; }
